<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>PAS Web App</title>
    <!-- Jquery, Bootstrap, Jquery UI, Bootstrap Combobox Library-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.css">
    <script src="~/js/bootstrap-combobox.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap-combobox.css"><!-- https://github.com/danielfarrell/bootstrap-combobox -->
    <link rel="stylesheet" type="text/css" href="~/css/MainStyle.css" />
    <script src="~/js/MainJS.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-sm">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-page="Index">Home</a>
                <!--</li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="ImportSQL">Import</a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" asp-page="Insert">Insert</a>
                </li>
            </ul>
        </nav>
        <div class="px-4">
            @RenderBody()
        </div>
        <div class="push"></div>
    </div>
    <div class="footer container-fluid">
        <div class="row">
            <span class="col">Made by Dustin Hengel and Cliff Hoye</span>
            <span class="col text-right">Legally Owned by Cerner™</span>
        </div>
    </div>
</body>
</html>