@page
@model PAS.Pages.EditModel  
<div>
    <script src="~/js/Edit.js"></script>
    <input type="hidden" id="jsonBigBrothers" value="@Model.jsonBigBrothers" />
</div>
<h2 class="text-center">Edit</h2>
<p>
    @if (false == String.IsNullOrEmpty(Model.error))
    {
        @Model.error;
    }
    else
    {
        @("");
    }
</p>
<form id="frmBrothers" name="frmBrothers" method="post">
    <input type="hidden" id="hdnId" name="hdnId"/>
    <div class="form-row my-2">
        <label class="col-2 col-form-label" for="cmbYear">Year:</label>
        <div class="col-6">
            <select id="ddlYear" name="ddlYear" class="form-control custom-select"></select>
        </div>
    </div>
    <div class="form-row my-2">
        <label class="col-form-label col-2">Name:</label>
        <div class="col-6">
            <input type="text" class="form-control" id="txtName" name="txtName" required />
        </div>
    </div>
    <div class="form-row my-2">
        <label class="col-form-label col-2">Staff Name:</label>
        <div class="col-6">
            <input type="text" class="form-control" id="txtStaffName" name="txtStaffName" required />
        </div>
    </div>
    <div class="form-row my-2">
        <label class="col-form-label col-2">Big Brother:</label>
        <div class="col-6">
            <select class="form-control" id="cmbBigBrother" name="cmbBigBrother" required>
                <option value=-1></option>
            </select>
        </div>
    </div>
    <div class="form-row my-2">
        <label class="col-form-label col-2">Status:</label>
        <div class="col-6">
            <select class="form-control custom-select" id="ddlStatus" name="ddlStatus" required>
                <option value="Brother">Brother</option>
                <option value="Elder">Elder</option>
                <option value="Founder">Founder</option>
            </select>
        </div>
    </div>
    <button type="submit" id="btnSubmit" name="btnSubmit" value="-1">Edit</button>
</form>