@page
@model PAS.Pages.ImportMongoModel
<h3>
    @if (true == String.IsNullOrEmpty(Model.error))
    {
        @("No Errors")
    }
    else
    {
        @("Errors");
    }

</h3>
<p>
    @if (false == String.IsNullOrEmpty(Model.error))
    {
        @Model.error;
    }
    else
    {
        @("");
    }
</p>