@page
@model PAS.Pages.IndexModel

<div>
    <!--<script src="https://d3js.org/d3.v5.js"></script>-->
    <script src="~/js/d3.js"></script>
    <script src="~/js/Tree.js"></script>
    <input type="hidden" id="csvBrotherData" value="@Model.csvBrothersData" />
</div>
<div class="tree-container"></div>