@page
@model PAS.Pages.InsertModel

<script src="~/js/Insert.js"></script>

<h2>Insert</h2>
<input class="datepicker"/>
<div class="row">
    <label class="col">Name:</label>
    <label class="col"></label>
</div>

